h1{
    color: #414141;
    text-align: center;
    font-weight: 100;
    font-size: 38px;
}


.fa-plus{
    padding: 5px;
    font-weight: 200px;
}


.btn-new
{
     position: relative;
      width:8%;
      display: block;
      margin: 30px auto;
      padding: 7px 10px;
      font-size:15px;
      overflow: hidden;
     padding-right: 21px;
      border-width: 0;
      outline: none;
      border-radius: 0px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
      
      background-color:#103a71;
      color: white;
}
    
.btn-new:before{
    font-family: FontAwesome;
	content:"\f067";
	position: absolute;
	top: 7px;
	left: -35px;
    transition: all 200ms ease;
}

.btn-new:hover:before {
	left: 62px;
}


.btn-new.active.focus, .btn-new.active:focus, .btn-new.active:hover, .btn-new:active.focus, .btn-new:active:focus, .btn-new:active:hover
 {
    color: white;
    background-color: #103a71;
    border-color: #103a71;
}

.btn-new:active:focus, .btn-new:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.flex-box-audit {
  display: flex;
  background: black;
  align-content: stretch;
  text-align: center;
}

.unit {
  background-color: #f1f1f1;
  padding: 10px;
  /* margin:2px 2px 0 0; */
  outline: 2px solid hotpink;
  width: 20%;
  justify-content: center;
}

.stackholder {
  /* margin:2px 2px 0 0; */
  outline: 2px solid hotpink;
  width: 80%;
}

.stackholder-1 {
  background-color: #f1f1f1;
  padding: 10px;
  /* margin:0px 2px 2px 0; */
  outline: 2px solid hotpink;
  width: 20%;
}

.stackholder-2 {
  /* margin:2px 2px 0 0; */
  outline: 2px solid hotpink;
  width: 80%;
  display: grid;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.item {
  background-color: #f1f1f1;
  padding: 10px;
  /* margin:2px 2px 0 0; */
  outline: 2px solid hotpink;
  width: 25%;
}

.flex-box-row {
  display: flex;
  align-content: stretch;
  height: 100%;
}

.table {
  width: 100%;
  height: 100%;
  display: table;
}

.table span {
  display: table-cell;
  vertical-align: middle;
}

.head .item, .head .stackholder-1, .head .unit{
    background:black;
    color:white;
    vertical-align: initial;
}

.badge-secondary{
    display: block;
    width: 100px;
    margin-left: 50%;
    transform: translate(-50%);
}