<div class="container-fluid">

    <!-- <button  class="btn btn-default pull-right btn-new" [routerLink]="['./config']">ADD</button>     -->
    <div id="cssmenu" class="align-center">
        <ul>
            <li routerLinkActive="active">
                <a routerLinkActive="active" routerLink="./audits">Manage TouchPoinits</a>
            </li>
            <li routerLinkActive="active">
                <a routerLinkActive="active" routerLink="./data-entry">Manage DE</a>
            </li>
            <li routerLinkActive="active">
                <a routerLinkActive="active" routerLink="./config">Configur</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" style="padding-top:50px;">
        <router-outlet></router-outlet>
    </div>
</div>