h1{
    color: #414141;
    text-align: center;
    font-weight: 100;
    font-size: 38px;
}


.fa-plus{
    padding: 5px;
    font-weight: 200px;
}


.btn-new
{
     position: relative;
      width:8%;
      display: block;
      margin: 30px auto;
      padding: 7px 10px;
      font-size:15px;
      overflow: hidden;
     padding-right: 21px;
      border-width: 0;
      outline: none;
      border-radius: 0px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
      
      background-color:#103a71;
      color: white;
}
    
.btn-new:before{
    font-family: FontAwesome;
	content:"\f067";
	position: absolute;
	top: 7px;
	left: -35px;
    transition: all 200ms ease;
}

.btn-new:hover:before {
	left: 62px;
}


.btn-new.active.focus, .btn-new.active:focus, .btn-new.active:hover, .btn-new:active.focus, .btn-new:active:focus, .btn-new:active:hover
 {
    color: white;
    background-color: #103a71;
    border-color: #103a71;
}

.btn-new:active:focus, .btn-new:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}