
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ASSIGN UNIT</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Unit</label>
          <select class="form-control" name="unit" [(ngModel)]="selectedunitId" (ngModelChange)="getEmployees($event)">
            <option *ngFor="let unit of units;let u = index;" [value]="unit.departmentId">{{unit.department}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">EMPLOYEES</label>
          <select class="form-control" [(ngModel)]="selectedEmployees" multiple>
              <option *ngFor="let emp of employees;let e=index;" [value]="emp.id">
                {{emp.firstName}} {{emp.lastName}}
              </option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="assignUnit()">SUBMIT</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
      </div>
    </div>

  </div>
</div>


<!-- new code -->

<table class="table table-responsive  table-bordered">
   <thead class="thead-dark  ">
      <tr>
          <th>UNIT</th>
          <th>STAKEHOLDER</th>
          <th class="width-size">TOUCH POINT</th>
          <th>CHANNEL</th>
          <th>EXPERIENCE</th>
          <th>DATA SOURCE</th>
        </tr>
   </thead>
   <tbody *ngFor="let audit of audits;let a=index;">
     <tr>
       <td colspan="6" class="table-gap"></td>
     </tr>
      <tr>
        <td [attr.rowspan]="getRowSpanOfStakeholder(audit.stackholders)">{{audit.department}}<br>
          <!-- <button class="btn btn-link" data-toggle="modal" data-target="#myModal" (click)="selectedUnit = audit.departmentId">Assign</button><br> -->
          <span class="badge badge-secondary" data-toggle="modal" data-target="#myModal" (click)="selectedUnit = audit.departmentId">Assign<i class="glyphicon glyphicon-arrow-right"></i></span>
        
        </td>
      </tr>
      <ng-template ngFor let-stackholder [ngForOf]="audit.stackholders" let-s="index">
        <tr>
          <td [attr.rowspan]="stackholder.touchpoints.length + 1">{{stackholder.stackholder}}</td>
        </tr>
        <ng-template ngFor let-tp [ngForOf]="stackholder.touchpoints" let-t="index">
          <tr>
            <td>{{tp.touchPoint}}</td>
            <td>
              <ul class="list">
                <li style="float:left" *ngFor="let channel of tp.channels;let c = index;">{{channel.channel}},</li>
              </ul>
            </td>
            <td>{{tp.experience}}</td>
            <td>
              <ul class="list">
                <li style="float:left" *ngFor="let dataSource of tp.dataSources;let c = index;">{{dataSource.dataSource}},</li>
              </ul>
            </td>
          </tr>
        </ng-template>
      </ng-template>      
   </tbody>
  </table>