.thead-dark{
    background: #103a71;
    color: white;
    font-size: 15px;
    font-family: Raleway;
    font-weight: 100;
}

.badge{
    border-radius:0px;
    cursor:pointer;
    background-color: #103a71; 
    margin-top: 3px;
}

.badge:hover{
    color:#ff5931;
}
.width-size{
    width: 17%;
}

.thead-dark  th{
text-align: center;
}

.table-bordered tbody+tbody{
   border-top:  0px;
}
tbody td{
    text-align: center;
    vertical-align: middle;
}

.table-bordered{
          border: 1px solid #092a55;
  
}

.table-bordered th{
    border: 1px solid #092a55;
}

tbody td[rowspan] {
    vertical-align: middle;
    text-align: center;
  }
.table-gap{
    background-color: #29aecc; 
    padding-top: 0px;
    padding-bottom: 4px
}

.list li{
    list-style: none;
    text-align: initial;
}

.modal-content{
    border-radius: 0px!important;
}

.modal-title{
    text-align: center;
   color:white;
}
.modal-header{
    background:#145766;
}

.btn-success,.btn-default{
    border-radius: 0px;
}

.close{
  opacity: 1;
  color: white
}
/* .assign-img{
    width:30%;
    cursor: pointer;
} */

.glyphicon-arrow-right{
    padding-left: 5px;
   
}

.glyphicon-arrow-right:hover{
color: #ff5931;
}