<div class="container">
  <table class="table table-responsive  table-bordered" id="accordion">
    <thead class="thead-dark  ">
      <tr>
        <th>UNIT</th>
        <th>STAKEHOLDER</th>
        <th>TOUCH POINT</th>
        <th>CHANNEL</th>
        <th>EXPERIENCE</th>
        <th>DATA SOURCE</th>
        <th>FINDINGS</th>
      </tr>
    </thead>
    <tbody *ngFor="let audit of audits;let a=index;">
      <tr>
        <td colspan="7" class="table-gap"></td>
      </tr>
      <tr>
        <td [attr.rowspan]="getRowSpanOfStakeholder(audit.stackholders)">{{audit.department}}</td>
      </tr>
      <ng-template ngFor let-stackholder [ngForOf]="audit.stackholders" let-s="index">
        <tr>
          <td [attr.rowspan]="stackholder.touchpoints.length + 3">{{stackholder.stackholder}}</td>
        </tr>
        <ng-template ngFor let-tp [ngForOf]="stackholder.touchpoints" let-t="index">
          <tr>
            <td>{{tp.touchPoint}}</td>
            <td>
              <ul class="list">
                <li style="float:left" *ngFor="let channel of tp.channels;let c = index;">{{channel.channel}}<span *ngIf="c!=tp.channels.length -1">,</span></li>
              </ul>
            </td>
            <td>{{tp.experience}}</td>
            <td>
              <ul class="list">
                <li style="float:left" *ngFor="let dataSource of tp.dataSources;let d = index;">{{dataSource.dataSource}}<span *ngIf="d!=tp.dataSources.length -1">,</span></li>
              </ul>
            </td>
            <td>
              <button *ngIf="!tp.findings.length" class="btn btn-link btn-finding" data-toggle="modal" data-target="#myModal" (click)="selectedTouchpoint = tp.touchpointId">FILL</button>
              <button *ngIf="tp.findings.length" class="btn btn-link btn-finding" data-toggle="collapse" [attr.data-target]="'#findings' + a + s + t"
                (click)="collapse('#findings' + a + s + t)">VIEW</button>
            </td>
          </tr>
          <tr>
            <td colspan="6" style="width: 100%;position: relative;padding: 0px;">
              <div class="panel panel-default panel-finding collapse" [attr.id]="'findings' + a + s + t">
                <div class="panel-heading">
                  <h4 class="panel-title">{{tp.touchPoint}} : FINDINGS
                    <i class="glyphicon glyphicon-plus-sign btn-add" data-toggle="modal" data-target="#myModal" (click)="selectedTouchpoint = tp.touchpointId"></i>
                    <!-- <button class="pull-right btn-add" data-toggle="modal" data-target="#myModal" (click)="selectedTouchpoint = tp.touchpointId">Add More</button>--></h4>
                </div>
                <div class="panel-body finding-panel">

                  <div class="panel panel-default" *ngFor="let find of tp.findings;let f = index;">
                    <div class="panel-heading left-side">
                      <div class="badge badge-numbering">{{(f+1)}}<br></div> {{find.finding}}</div>
                    <div class="panel-body no-padding">
                      <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-10">
                          <table class="table table-finding">
                            <thead>
                              <tr>
                                <th width="10%" class="cell1">CATEGORY</th>
                                <th width="10%">
                                  IMPROVEMENTS
                                </th>
                                <th width="10%">RESPONSIBLE STAFF</th>
                                <th width="10%">ROOT CAUSE</th>
                                <th width="10%">SOURCE REQUIRED</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{find.category}}</td>
                                <td>{{find.improvements}}</td>
                                <td>{{find.sourceRequired}}</td>
                                <td>{{find.rootCause}}</td>
                                <td>{{find.sourceRequired}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--faliur-1-->
                </div>
                <!--  panel-body end -->
              </div>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </tbody>
    <tbody>
      <tr>
        <td colspan="7" class="table-gap"></td>
      </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content detail-content">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-header">
          
          <h4 class="modal-title">FILL FINDING</h4>
        </div>
        <form class="form-horizontal" [formGroup]="findingForm" (submit)="submitFinding()">
          <div class="modal-body">

            <div class="form-group">
              <label class="control-label col-sm-3">FINDING</label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="finding"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">CATEGORY </label>
              <div class="col-sm-9">
                <select class="form-control" formControlName="categoryId">
                    <option *ngFor="let cat of categories;let c=index;" [value]="cat.id">{{cat.category}}</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">ROOT-CAUSE</label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="rootCause"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">IMPROVEMENTS </label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="improvements"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">ASSIGNED BY </label>
              <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="type" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" value="pankaj" > EMPLOYEE  NAME
                  </label>
                <label class="radio-inline">
                    <input type="radio" name="type" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" value="tushar"> EMPLOYEE  ROLE
                  </label>
              </div>
            </div>
            <div class="form-group" *ngIf="type == 'pankaj'">
              <div class="col-sm-6">
                <label class="control-label col-sm-offset-3 col-sm-3" for="unit">UNIT </label>
                <div class="col-sm-6">
                  <select class="form-control" name="unit" [(ngModel)]="unitIdForEmp" [ngModelOptions]="{standalone: true}" (change)="getEmployees(unitIdForEmp)">
                      <option *ngFor="let unit of units;let u = index;" [value]="unit.departmentId">{{unit.department}}</option>
                    </select>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label col-sm-3">EMPLOYEE</label>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="responsibleStaffIds" multiple>
                      <option *ngFor="let emp of employees;let e=index;" [value]="emp.id">
                        {{emp.firstName}} {{emp.lastName}}
                      </option>
                    </select>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="type == 'tushar'" formArrayName="responsibleRole">
              <div *ngFor="let resRole of findingForm.controls.responsibleRole['controls']; let r = index;" [formGroupName]="r">
                <div class="col-sm-6">
                  <label class="control-label col-sm-offset-3 col-sm-3" for="unit">UNIT </label>
                  <div class="col-sm-6">
                    <select class="form-control" name="unit" formControlName="departmentId" (ngModelChange)="getRoles($event,r)">
                      <option *ngFor="let unit of units;let u = index;" [value]="unit.departmentId">{{unit.department}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="control-label col-sm-3">ROLES</label>
                  <div class="col-sm-9">
                    <select class="form-control " formControlName="roleId">
                      <option *ngFor="let role of roles[r];let r=index;" [value]="role.roleId">
                        {{role.role}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button (click)="addRole()" *ngIf="resRole.valid && r == findingForm.controls.responsibleRole['controls'].length - 1">ADD</button>
                  <button (click)="removeRole(r)" *ngIf="findingForm.controls.responsibleRole['controls'].length!=1">REMOVE</button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">DEADLINE</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" formControlName="deadline">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">SOURCE REQUIRED </label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="sourceRequired"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="type" class="btn btn-success btn-submit">SUBMIT</button>
            <button type="button" class="btn btn-default btn-close" data-dismiss="modal">CLOSE</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>