<div class="container-fluid">
  <div class="flex-box-audit head bottom-highlight text-center">
    <div class="unit">
      <div class="table">
        <span>UNIT</span>
      </div>
    </div>
    <div class="stackholder">
      <div class="flex-box-audit">
        <div class="stackholder-1">
          <div class="table">
            <span>STAKEHOLDER</span>
          </div>

        </div>
        <div class="stackholder-2">
          <div class="flex-box-row">
            <div class="item">
              <div class="table">
                <span>TOUCHPOINT</span>
              </div>
            </div>
            <div class="item">
              <div class="table">
                <span>CHANNEL</span>
              </div>
            </div>
            <div class="item-l">
              <div class="table">
                <span>EXPERIENCE</span>
              </div>
            </div>
            <div class="item">
              <div class="table">
                <span>DATA SOURCE</span>
              </div>
            </div>
            <div class="item">
              <div class="table">
                <span>FINDINGS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-box-audit bottom-highlight" *ngFor="let audit of audits;let a=index;">
    <div class="unit">
      <div class="table text-center">
        {{audit.department}}
      </div>
    </div>
    <div class="stackholder">
      <div class="flex-box-audit" *ngFor="let stackholder of audit.stackholders; let s=index">
        <div class="stackholder-1">
          {{stackholder.stackholder}}
        </div>
        <div class="stackholder-2">
          <div *ngFor="let tp of stackholder.touchpoints; let t=index">
            <div class="flex-box-row">
              <div class="item">
                {{tp.touchpoint}}
              </div>
              <div class="item">
                <ul class="list">
                  <li style="float:left" *ngFor="let channel of tp.channels;let c = index;">{{channel.channel}}
                    <span *ngIf="c!=tp.channels.length-1">,</span>
                  </li>
                </ul>
              </div>
              <div class="item-l">
                {{tp.experience}}
              </div>
              <div class="item">
                <ul class="list">
                  <li style="float:left" *ngFor="let dataSource of tp.dataSources;let d = index;">{{dataSource.dataSource}}
                    <span *ngIf="dataSource.dataSourceId==3">:{{tp.surveyTitle}}</span>
                    <span *ngIf="d!=tp.dataSources.length-1">,</span>
                  </li>
                  <li *ngIf="!tp.dataSources.length">None</li>
                </ul>
              </div>
              <div class="item">
                <button *ngIf="!tp.findings.length" class="btn btn-link btn-finding" data-toggle="modal" data-target="#myModal" (click)="selectedTouchpoint = tp.touchpointId;isFindingUpdate = false;">ADD</button>
                <!-- <button *ngIf="tp.findings.length" class="btn btn-link btn-finding" data-toggle="collapse" [attr.data-target]="'#findings' + a + s + t"
                (click)="collapse('#findings' + a + s + t)">VIEW</button> -->
                <button *ngIf="tp.findings.length" class="btn btn-link btn-finding" [routerLink]="['./finding/',tp.touchpointId]">View/Edit</button>
              </div>
            </div>
            <!-- <div class="relative">
              <table>
                <tr>
                  <td>
                    <div class="panel panel-default panel-finding collapse" [attr.id]="'findings' + a + s + t">
                      <div class="panel-heading">
                        <h4 class="panel-title">{{audit.department}} : {{stackholder.stackholder}} : {{tp.touchpoint}} : FINDINGS
                          <i class="glyphicon glyphicon-plus-sign btn-add" data-toggle="modal" data-target="#myModal" (click)="selectedTouchpoint = tp.touchpointId"></i>
                        </h4>
                      </div>
                      <div class="panel-body finding-panel">

                        <div class="panel panel-default" *ngFor="let find of tp.findings;let f = index;">
                          <div class="panel-heading left-side">
                            <div class="badge badge-numbering">{{(f+1)}}</div> {{find.finding}}
                            <button class="pull-right" data-toggle="modal" data-target="#evidenceForm" (click)="showEvidenceForm(find.findingId)" style="color: buttontext;">Add Evidence</button>
                            <button class="pull-right" style="color: buttontext;" data-toggle="modal" data-target="#myModal" (click)="editFinding(find)">Edit</button>
                          </div>
                          <div class="panel-body no-padding">
                            <div class="row">
                              <div class="col-lg-12 col-sm-12 col-md-12">
                                <table class="table table-finding">
                                  <thead>
                                    <tr>
                                      <th width="10%" class="cell1">CATEGORY</th>
                                      <th width="10%">
                                        IMPROVEMENTS
                                      </th>
                                      <th width="10%">RESPONSIBLE STAFF</th>
                                      <th width="10%">ROOT CAUSE</th>
                                      <th width="10%">SOURCE REQUIRED</th>
                                      <th width="10%">Evidences</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>{{find.category}}</td>
                                      <td>{{find.improvements}}</td>
                                      <td>{{find.sourceRequired}}</td>
                                      <td>{{find.rootCause}}</td>
                                      <td>{{find.sourceRequired}}</td>
                                      <td>
                                        <ul style="list-style:none;padding:0px;">
                                          <li *ngFor="let evidance of find.evidances;let e=index;">
                                            <b>{{e+1}}</b>)
                                            <a [attr.href]="evidance.url" (click)="stopPropagation($event)">
                                              file {{e+1}}</a>
                                          </li>
                                          <li *ngIf="!find.evidances.length">None</li>
                                        </ul>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </td>
                </tr>
              </table>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content detail-content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="!isFindingUpdate">ADD</span>
            <span *ngIf="isFindingUpdate">Update</span>
            FINDING

          </h4>
        </div>
        <form class="form-horizontal" [formGroup]="findingForm" (submit)="submitFinding()">
          <div class="modal-body">

            <div class="form-group">
              <label class="control-label col-sm-3">FINDING</label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="finding"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">CATEGORY </label>
              <div class="col-sm-9">
                <select class="form-control" formControlName="categoryId">
                  <option *ngFor="let cat of categories;let c=index;" [value]="cat.id">{{cat.category}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">ROOT-CAUSE</label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="rootCause"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">IMPROVEMENTS </label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="improvements"></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="!isFindingUpdate">
              <label class="control-label col-sm-3">ASSIGNED TO </label>
              <div class="col-sm-9">
                <label class="radio-inline">
                  <input type="radio" name="type" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" value="pankaj" (click)="getEmployeeControl()"> EMPLOYEE NAME
                </label>
                <label class="radio-inline">
                  <input type="radio" name="type" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" value="tushar" (click)="getRoleControl()"> EMPLOYEE ROLE
                </label>
              </div>
            </div>
            <div class="form-group" *ngIf="type == 'pankaj'">
              <div class="col-sm-offset-3 col-sm-9">
                <ul style="list-style:none;padding:0px;">
                  <li *ngFor="let employee of selectedStaff;let e=index;">{{e+1}}) {{employee.firstName}} {{employee.lastName}}
                    <button type="button" class="close" data-dismiss="modal" (click)="removeResponsibleStaffId(e)">&times;</button>
                  </li>
                </ul>
              </div>

              <div class="col-sm-6">
                <label class="control-label col-sm-offset-3 col-sm-3" for="unit">UNIT </label>
                <div class="col-sm-6">
                  <select class="form-control" name="unit" [(ngModel)]="unitIdForEmp" [ngModelOptions]="{standalone: true}" (change)="getEmployees(unitIdForEmp)">
                    <option *ngFor="let unit of units;let u = index;" [value]="unit.departmentId">{{unit.department}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label col-sm-3">EMPLOYEE</label>
                <div class="col-sm-9">
                  <select class="form-control height" [(ngModel)]="responsibleStaff" [ngModelOptions]="{standalone: true}" multiple (change)="getResponsibleStaffIds()">
                    <option *ngFor="let emp of employees;let e=index;" [value]="emp">
                      {{emp.firstName}} {{emp.lastName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="type == 'tushar'" formArrayName="responsibleRole">
              <div *ngFor="let resRole of findingForm.controls.responsibleRole['controls']; let r = index;" [formGroupName]="r">
                <div class="col-sm-6">
                  <label class="control-label col-sm-offset-3 col-sm-3" for="unit">Unit : </label>
                  <div class="col-sm-6">
                    <select class="form-control" name="unit" formControlName="departmentId" (ngModelChange)="getRoles($event,r)">
                      <option *ngFor="let unit of units;let u = index;" [value]="unit.departmentId">{{unit.department}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label class="control-label col-sm-3">ROLES</label>
                  <div class="col-sm-9">
                    <select class="form-control " formControlName="roleId">
                      <option *ngFor="let role of roles[r];let r=index;" [value]="role.roleId">
                        {{role.role}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button (click)="addRole()" *ngIf="resRole.valid && r == findingForm.controls.responsibleRole['controls'].length - 1">ADD</button>
                  <button (click)="removeRole(r)" *ngIf="findingForm.controls.responsibleRole['controls'].length!=1">REMOVE</button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">DEADLINE</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" formControlName="deadline">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">SOURCE REQUIRED </label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="sourceRequired"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Link to </label>
              <div class="col-sm-3">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="risk"> Risk Register</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="strategicPlanner"> Strategic Planner</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-submit">SUBMIT</button>
            <button type="button" class="btn btn-default btn-close" data-dismiss="modal">CLOSE</button>
          </div>
        </form>

      </div>

    </div>
  </div>
  <!--Evidence Form-->
  <div class="modal fade" id="evidenceForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Attach Evidence</h4>
        </div>
        <!-- Modal Body -->
        <form [formGroup]="evidencForm" (submit)="onEvidenceSubmit()">
          <div class="modal-body">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" formControlName="title" />
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Attachment</label>
              <input type="file" class="form-control-file" id="exampleInputFile" formControlName="file" (change)="getFile($event)" aria-describedby="fileHelp">
              <!-- <small id="fileHelp" class="form-text text-muted"></small> -->
            </div>
          </div>
          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>