.table-responsive{
    margin-top: 35px;
}

.thead-dark{
    background: #103a71;
    color: white;
    font-size: 15px;
    font-family: Raleway;
}

.thead-dark  th{
    text-align: center;
    }

tbody td{
    text-align: center;

}

.table-bordered{
    border: 1px solid #092a55;

}
.table-bordered th{
    border: 1px solid #092a55;
}

tbody td[rowspan] {
    vertical-align: middle;
    text-align: center;
  }

  .list li{
    list-style: none;
    text-align: initial;
}

.modal-header{
  background:#145766;    
}

.close{
    opacity: 1;
    color: white
  }

.modal-content{
    border-radius: 0px;
}

.modal-title{
    text-align: center;
    color: white;
}
.btn-success,.btn-default{
    border-radius: 0px;
}
.btn-finding{
    background: #103a71;
    border: 1px #103a71;
    color: white;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    margin: auto;
    display: block;
    text-decoration: none;
}
.table-gap{
    background-color:#29aecc; 
    padding-top: 0px;
    padding-bottom: 4px
}
.panel-body{
    border-bottom: 3px solid #29aecc;
}
.panel-finding{
    position: absolute;
    width: 100%;
    z-index: 1;
    background: white;
}
.panel-heading{
    background:#29aecc;
    border-color: 1 px solid #29aecc; 
    padding: 14px 15px;
    text-transform: uppercase;
    font-size: 15px;
    color:white;
}
.panel-title{
    color: white;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align:left
}
.btn-add{
    float: right;
    font-size: 28px;
    top: -6px;
}
.panel-finding ul{
    list-style:none;
    padding:0px
}

.panel-finding ul li{
    padding: 5px;
    /* border: 1px solid #29aecc; */
    border-radius: 5px;
    margin: 0px;
    margin-bottom: 5px;
    position: relative
}
.btn-finding i{
    padding-left:7px;
}

.btn-finding:hover{
    color:#ff5931;
    text-decoration: none;

}
.table-bordered{
    width:100%
}

.table-bordered td tr{
    height: 40px;
}

.table tbody+tbody{
    border-top: 0px;
}

.badge-numbering{
    font-weight: 700;
    color: #fff;
    background-color: #103a71;
    border-radius: 50%;
    /* position: absolute; */
    left: 0;
    top: 0;
    z-index: 1;
    margin-top: -5px;
    margin-left: 10px;
    font-size: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
}

/* new design */
.the-legend {
    border-style: none;
    border-width: 0px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 31px;
    width: 35%;
    padding: 19px 10px;
    border: 1px solid #29aecc;
    text-align: center;
    height: 58px;
    background: #29aecc;
    color: white;
    font-family:Raleway;
}
.the-fieldset {
    border: 1px solid #103a71;
    padding: 10px;
}

.table>tbody+tbody {
    border-top: 0px solid #ddd;
}
.info-table tr td{
    text-transform: uppercase;
}