<div class="container">
  <table class="table table-responsive  table-bordered" id="accordion">
    <thead class="thead-dark  " >
      <tr>
        <th>UNIT</th>
        <th>STAKEHOLDER</th>
        <th>TOUCH POINT</th>
        <th>CHANNEL</th>
        <th>EXPERIENCE</th>
        <th>DATA SOURCE</th>
        <th>FINDINGS</th>     
      </tr>
    </thead>
    <tbody *ngFor="let audit of audits;let a=index;">
        <tr>
            <td colspan="7" class="table-gap"></td>
          </tr>
      <tr>
        <td [attr.rowspan]="getRowSpanOfStakeholder(audit.stackholders)">{{audit.department}}</td>
      </tr>
      <ng-template ngFor let-stackholder [ngForOf]="audit.stackholders" let-s="index">
        <tr>
          <td [attr.rowspan]="stackholder.touchpoints.length + 3">{{stackholder.stackholder}}</td>
        </tr>
        <ng-template ngFor let-tp [ngForOf]="stackholder.touchpoints" let-t="index">
          <tr>
            <td>{{tp.touchPoint}}</td>
            <td>
              <ul class="list">
                <li style="float:left" *ngFor="let channel of tp.channels;let c = index;">{{channel.channel}},</li>
              </ul>
            </td>
            <td>{{tp.experience}}</td>
            <td>
              <ul class="list">
                <li style="float:left" *ngFor="let dataSource of tp.dataSources;let c = index;">{{dataSource.dataSource}},</li>
              </ul>
            </td>
            <td>
              
              <button *ngIf="!tp.findings.length" class="btn btn-link btn-finding" data-toggle="modal" data-target="#myModal" (click)="selectedTouchpoint = tp.touchpointId">FILL</button>
              <button *ngIf="tp.findings.length" class="btn btn-link btn-finding accordion" data-toggle="collapse" [attr.data-target]="'#findings' + a + s + t" data-parent="#accordion">VIEW</button>
            </td>
          </tr>
          <tr>
            <td colspan="6" style="width: 100%;position: relative;padding: 0px;">
              <div class="panel panel-default panel-finding collapse" [attr.id]="'findings' + a + s + t">
                <div class="panel-heading">
                  <h4 class="panel-title">{{tp.touchPoint}} : FINDINGS
                      <i class="glyphicon glyphicon-plus-sign btn-add" data-toggle="modal" data-target="#myModal" (click)="selectedTouchpoint = tp.touchpointId"></i>
                    <!-- <button class="pull-right btn-add" data-toggle="modal" data-target="#myModal" (click)="selectedTouchpoint = tp.touchpointId">Add More</button>--></h4>
                </div>
                <div class="panel-body finding-panel">

                  <div class="panel panel-default" *ngFor="let find of tp.findings;let f = index;">
                    <div class="panel-heading"><div class="badge badge-numbering">{{(f+1)}}<br></div>{{find.finding}}</div> 
                    <div class="panel-body">
                      <div class="row">
                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <table class="table-bordered">
                          <tr>
                            <td>category</td>
                           
                          </tr>
                          <tr>
                            <td>{{find.category}}</td>
                          </tr>
                        </table>

                      </div> <!-- table1 -->
                      <div class="col-md-4 col-lg-4 col-sm-4">
                        <table class="table-bordered">
                          <tr>
                            <td>Improvements</td>
                          </tr>
                          <tr>
                            <td>{{find.improvements}}</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-4 col-lg-4 col-sm-4">
                          <table class="table-bordered">
                            <tr>
                              <td>Responsible Staff</td>
                            </tr>
                            <tr>
                              <td>{{find.responsibleStaff}}</td>
                            </tr>
                          </table>
                        </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 col-lg-4 col-sm-4">
                              <table class="table-bordered" style="margin-top:19px;">
                                  <tr>
                                    <td>Root Cause</td>
                                  </tr>
                                  <tr>
                                    <td>{{find.rootCause}}</td>
                                  </tr>
                                </table>
                          </div>
                          <div class="col-md-4 col-lg-4 col-sm-4">
                              <table class="table-bordered"  style="margin-top:19px;">
                                  <tr>
                                    <td>Source Required</td>
                                  </tr>
                                  <tr>
                                    <td>{{find.sourceRequired}}</td>
                                  </tr>
                                </table>
                          </div>
                        </div>
                    </div>
                  </div>
                  
                  <ul>
                    <li class="row" *ngFor="let find of tp.findings;let f = index;">
                       
                      <div class="col-sm-6">
                        <table class="table-bordered">
                          <tr>
                            <td><b>Finding</b></td>
                            <td>{{find.finding}}</td>
                          </tr>
                          <tr>
                            <td><b>Category</b></td>
                            <td>{{find.category}}</td>
                          </tr>
                          <tr>
                            <td><b>Improvements</b></td>
                            <td>{{find.improvements}}</td>
                          </tr>
                        
                        <!-- <p><b>Finding :</b>{{find.finding}}</p>
                        <p><b>Category :</b>{{find.category}}</p>
                        <p><b>Improvements :</b>{{find.improvements}}</p>                         -->
                                
                      
                        
                              <tr>
                                <td><b>Responsible Staff</b></td>
                                <td>{{find.responsibleStaff}}</td>
                              </tr>
                              <tr>
                                <td><b>Root Cause</b></td>
                                <td>{{find.rootCause}}</td>
                              </tr>
                              <tr>
                                <td><b>Source Required</b></td>
                                <td>{{find.sourceRequired}}</td>
                              </tr>
                        </table>
                      </div>
                      
                    </li>
                  </ul>                
                </div><!--  panel-body end -->
              </div>
            </td>
          </tr>
        </ng-template>        
      </ng-template>      
    </tbody>
  </table>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">FILL FINDINGS</h4>
        </div>
        <form class="form-horizontal" [formGroup]="findingForm" (submit)="submitFinding()">
        <div class="modal-body">
          
            <div class="form-group">
              <label class="control-label col-sm-2">Finding : </label>
              <div class="col-sm-10">
                <textarea class="form-control" formControlName="finding"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Category : </label>
              <div class="col-sm-10">
                <select class="form-control" formControlName="categoryId">
                  <option *ngFor="let cat of categories;let c=index;" [value]="cat.id">{{cat.category}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Root Cause : </label>
              <div class="col-sm-10">
                <textarea class="form-control" formControlName="rootCause"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Improvements : </label>
              <div class="col-sm-10">
                <textarea class="form-control" formControlName="improvements"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Responsible Staff : </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="responsibleStaff">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Deadline : </label>
              <div class="col-sm-10">
                <input type="date" class="form-control" formControlName="deadline">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Source Required : </label>
              <div class="col-sm-10">
                <textarea class="form-control" formControlName="sourceRequired"></textarea>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="type" class="btn btn-success">Submit</button>            
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
      
      </div>

    </div>
  </div>
</div>