<div class="container">
  <h3 style="font-family:serif">Configuration</h3>
  <div>
    <b>Select Unit</b>
    <ul>
      <li (click)="setUnit('Alumni')">Alumni</li>
      <li (click)="setUnit('Unit 1')">Unit 1</li>
      <li (click)="setUnit('Unit 2')">Unit 2</li>
      <li (click)="setUnit('Unit 3')">Unit 3</li>
      <li (click)="setUnit('Unit 4')">Unit 4</li>
      <li (click)="setUnit('Unit 5')">Unit 5</li>
      <li (click)="setUnit('Unit 6')">Unit 6</li>
      <li (click)="setUnit('Unit 7')">Unit 7</li>
    </ul>
    <button (click)="next()">Next</button>
  </div>
</div>