<div class="login-page">
  <div id="hbmsu-top">
    <div id="hbmsu-header">
      <div class="logo">
        <img id="LogoImage" alt="HBMSU" src="assets\images\ngu.png" style="font-size: 11px;height:89px;">
      </div>
      <div class="title">
        <h1>
          NxtLife Global University Stakeholders Experience Management</h1>
        <h1>
          An organizational Commitment to Excellence</h1>
      </div>
      <!-- <div class="clear hideSkiplink">
                </div> -->

    </div>
  </div>
  <div id="hbmsu-content">
    <input type="hidden" name="ctl00$MainContent$hdnLoginAttempt" id="MainContent_hdnLoginAttempt" value="0">

    <span class="failureNotification">

    </span>
    <div id="MainContent_LoginUser_LoginUserValidationSummary" class="failureNotification" style="display:none;">

    </div>
    <div class="container">
      <div class="login-wrap">
        <img src="assets\images\login-icon.png" alt="login-icon" class="login-icon">
        <form [formGroup]="loginForm" (submit)="submit()">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
              <input type="text" placeholder="Username" name="user" formControlName="username" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md- col-sm-10 col-xs-8">
              <input type="password" placeholder="Password" name="pass" formControlName="password" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
              <button type="submit" class="btn btn-primary btn-sign">LOGIN</button>
            </div>
          </div>
        </form>
        <br>
        <p class="forgot">
          Forgot your password?
          <a id="MainContent_ForgotPasswordHyperLink" href="RecoverPassword.aspx">Click Here</a>.
        </p>
      </div>
    </div>
  </div>
</div>