.first-nav{
  background: #103a71;
  border-bottom: 4px solid #29aecc;
  height: 48px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.first-nav .nav>li>a{
  background-color: transparent;
  color: #8397b2;
}

.first-nav .nav>li>a:focus, .first-nav .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: white;
}

.second-nav-bar{
  border: 1px solid #ebebeb;
  border-top: none;
  height: 111px;
  margin-top: 50px;
}
.second-nav-bar a img {
  margin-left: 11px;
  width: 387px;
  height: auto;
}

.second-nav-bar ul{
  right: 15px;
  bottom: 0;
  position: absolute;
}

.second-nav-bar>ul>li>a:focus, .second-nav-bar>ul>li>a:hover, .second-nav-bar>ul>li.active>a {
  text-decoration: none;
  background-color: #103a71;
  color: white;
}

.navbar-login{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size{
    font-size: 87px;
}



/* new css */
.new-nav-bar{
  border:1px solid #ebebeb;
}


.navbar-brand img{
  margin-left: 11px;
  width: 387px;
  height: auto;

}

navbar-nav li {
  font-size:20px;
}


 .glyphicon-file ,.glyphicon-book, .glyphicon-envelope {
  font-size: 50px;
}

.item-one ,.item-two,.item-three{
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
}
a{
  text-decoration: none;
}