 
.the-legend {
    border-style: none;
    border-width: 0px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 31px;
    width: 22%;
    padding: 11px 10px;
    border: 1px solid #103a71;
    text-align: center;
    height: 45px;
    background: #103a71;
    color: white;
    font-family:Raleway;
}

.icon-congif{
    margin-left: 10px;
    font-size:20px;
    vertical-align: middle;
}

.the-fieldset {
    border: 1px solid #103a71;
    padding: 10px;
}
.form-control{
    width:70%;
    font-family: Raleway;
}

.nav-tabs{
    border-bottom:0 solid #ddd;
}
.btn-add{
    background:#103a71;
    color: white;
    font-family: Raleway;
    border: 1px solid #103a71;
}
.btn-add:hover{
    background: rgba(0,0,0,0);
	color: #103a71;
	box-shadow: inset 0 0 0 3px #103a71;
}

.btn-add[disabled]:hover{
    background:#103a71;
    color: white;
    font-weight: 700;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-
}

input[type=checkbox] {
    zoom: 1.5;
    margin: 0px 0 0;
    margin-left: -16px;
    
}

input[type="checkbox"]:before{
    border: 1px solid #106ABE!important;
    background: #FFF;
}

input[type="checkbox"]:after{
    border: 1px solid #0C44BD!important;
    background: #FFF;
}

.form-group{
    font-family:Raleway;
    font-size: 12px;
    margin-left: 30px;
}
