<div class="container">
  <!-- new code -->
  <div>
    <div id="cssmenu" class="align-center">
      <ul>
        <li class="active">
          <a data-toggle="tab" href="#menu2" click="getRiskReport()">RISK REGISTER</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu3" (click)="getPlannerReport()">STRATEGIC PLANNING</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu4" (click)="getFindinsReport()">ALL FINDINGS</a>
        </li>
        <li>
          <a data-toggle="tab" href="#menu1">RANKED JOURNEY</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="menu2" class="tab-pane fade in active">
        <br>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>UNIT</td>
              <td>STAKEHOLDER</td>
              <td>TOUCHPOINT</td>
              <td>EXPERIENCE</td>
              <td>FINDING</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reports;let r = index;">
              <td>{{report.department}}</td>
              <td>{{report.stackholder}}</td>
              <td>{{report.touchpoint}}</td>
              <td>{{report.experience}}</td>
              <td style="text-align:left;">
                <label>Finding :</label> {{report.finding}}
                <br>
                <label>Category :</label> {{report.category}}
                <br>
                <label>Source Required :</label> {{report.sourceRequired}}
                <br>
                <label>Improvements :</label> {{report.improvements}}
                <br>
                <label>Deadline :</label> {{report.deadline}}
                <br>
                <label>Responsible Staff :</label>
                <span *ngFor="let rsr of report.responsibleRole;let st=index;">{{st+1}}.{{rsr.department}}:{{rsr.role}}</span>
                <span *ngFor="let staff of report.responsibleStaff;let em = index;">{{em+1}}.{{staff.firstName}} {{staff.lastName}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="menu3" class="tab-pane fade">
        <br>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>UNIT</td>
              <td>STAKEHOLDER</td>
              <td>TOUCHPOINT</td>
              <td>EXPERIENCE</td>
              <td>FINDING</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reports;let r = index;">
              <td>{{report.department}}</td>
              <td>{{report.stackholder}}</td>
              <td>{{report.touchpoint}}</td>
              <td>{{report.experience}}</td>
              <td>
                <label>Finding :</label> {{report.finding}}
                <br>
                <label>Category :</label> {{report.category}}
                <br>
                <label>Source Required :</label> {{report.sourceRequired}}
                <br>
                <label>Improvements :</label> {{report.improvements}}
                <br>
                <label>Deadline :</label> {{report.deadline}}
                <br>
                <label>Responsible Staff :</label>
                <span *ngFor="let rsr of report.responsibleRole;let st=index;">{{st+1}}.{{rsr.department}}:{{rsr.role}}</span>
                <span *ngFor="let staff of report.responsibleStaff;let em = index;">{{em+1}}.{{staff.firstName}} {{staff.lastName}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="menu4" class="tab-pane fade">
        <br>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>UNIT</td>
              <td>STAKEHOLDER</td>
              <td>TOUCHPOINT</td>
              <td>EXPERIENCE</td>
              <td>FINDINGS</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reports;let r = index;">
              <td>{{report.department}}</td>
              <td>{{report.stackholder}}</td>
              <td>{{report.touchpoint}}</td>
              <td>{{report.experience}}</td>
              <td>
                <label>Finding :</label> {{report.finding}}
                <br>
                <label>Category :</label> {{report.category}}
                <br>
                <label>Source Required :</label> {{report.sourceRequired}}
                <br>
                <label>Improvements :</label> {{report.improvements}}
                <br>
                <label>Deadline :</label> {{report.deadline}}
                <br>
                <label>Responsible Staff :</label>
                <span *ngFor="let rsr of report.responsibleRole;let st=index;">{{st+1}}.{{rsr.department}}:{{rsr.role}}</span>
                <span *ngFor="let staff of report.responsibleStaff;let em = index;">{{em+1}}.{{staff.firstName}} {{staff.lastName}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3 class="text-head">Ranked Journey Of Touchpoints</h3>
        <div class="form-group">
          <label class="control-label col-sm-3 col-lg-3 col-md-3"> CHOOSE STAKEHOLDER </label>
          <div class="col-sm-9 col-lg-9 col-md-9">
            <select class="form-control" [(ngModel)]="stakeholderId" (ngModelChange)="getRankingTable($event)" (click)="edit=false">
              <option *ngFor="let stackholder of stackholders;let s = index;" [value]="stackholder.stackholderId">{{stackholder.stackholder}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="tableData.length">
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>TOUCHPOINTS</th>
                  <th>UNITS</th>
                  <th>CHANNELS</th>                  
                  <th>EXPERIENCE</th>
                  <th>DATA SOURCE</th>
                  <th>RANK
                    <button (click)="edit=true" class="btn-edit">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button *ngIf="edit" (click)="edit=false" class="btn-edit">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let data of tableData;let d=index;">
                <tr>
                  <td rowspan="1">{{data.touchpoint}}</td>
                  <td rowspan="1">{{data.department}}</td>
                  <td rowspan="1">
                    <ul class="list">
                      <li style="float:left" *ngFor="let channel of data.channels;let c = index;">{{channel.channel}}
                        <span *ngIf="c!=data.channels.length-1">,</span>
                      </li>
                    </ul>
                  </td>
                  <td rowspan="1">{{data.experience}}</td>
                  <td rowspan="1">
                    <ul class="list">
                      <li style="float:left" *ngFor="let dataSource of data.dataSources;let d = index;">{{dataSource.dataSource}}
                        <span *ngIf="d!=data.dataSources.length-1">,</span>
                      </li>
                      <li *ngIf="!data.dataSources.length">None</li>
                    </ul><br>
                    <span style="cursor:pointer;" *ngIf="data.findings.length" class="glyphicon glyphicon-folder-open" (click)="showFinding[d] = !showFinding[d]">

                    </span>
                  </td>
                  <td rowspan="1">
                    <span *ngIf="!edit">{{data.rank}}</span>
                    <input type="number" [attr.id]="'rank' + d" style="width:40px;" [(ngModel)]="checkValue[d]" (keyup)="validateRank($event,d,inp)"
                      (click)="validateRank($event,d,inp)" #inp [attr.min]="1" [attr.max]="tableData.length" *ngIf="edit">
                  </td>
                </tr>
                <tr *ngIf="data.findings.length && showFinding[d]">
                  <td></td>
                  <td colspan="4">
                    <div class="panel panel-default" *ngFor="let find of data.findings;let f =index;">
                      <div class="panel-heading">
                        <div class="badge badge-numbering">{{(f+1)}}
                          <br>
                        </div> {{find.finding}}</div>
                      <div class="panel-body no-gap">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <table class="table table-finding table-bordered">
                              <thead>
                                <tr>
                                  <th width="10%">CATEGORY</th>
                                  <th width="10%">IMPROVEMENTS</th>
                                  <th width="10%">RESPONSIBLE STAFF</th>
                                  <th width="10%">ROOT CAUSE</th>
                                  <th width="10%">SOURCE REQUIRED</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{find.category}}</td>
                                  <td>{{find.improvements}}</td>
                                  <td>
                                    <span *ngFor="let rsr of find.responsibleRole;let st=index;">{{rsr.department}}:{{rsr.role}}</span>
                                    <span *ngFor="let staff of find.responsibleStaff;let em = index;">{{staff.firstName}} {{staff.lastName}}</span>
                                  </td>
                                  <td>{{find.rootCause}}</td>
                                  <td>{{find.sourceRequired}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <button type="button" (click)="submitRank()" class="btn btn-primary btn-submit" [disabled]="isDisable()" *ngIf="edit">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>