<div class="container">
  <h2 style="font-family:serif">Data Entry
  <button class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">Fill finding</button>
  </h2>
  <hr>
  <table class="table table-hover table-bordered">
    <thead class="text-center" style="background: #0cc0db;">
      <tr>
        <th>Unit</th>
        <th>Stakeholder</th>
        <th>Touch Point</th>
        <th>Channel</th>
        <th>Experience</th>
        <th>Data Source</th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody *ngFor="let audit of audits;let a=index;">
      <tr>
        <td [attr.rowspan]="getRowSpanOfStakeholder(audit.stackholders)">{{audit.department}}<br>
          <button class="btn btn-link" data-toggle="modal" data-target="#myModal" (click)="selectedUnit = audit.departmentId">Assign</button><br>
        </td>
      </tr>
      <ng-template ngFor let-stackholder [ngForOf]="audit.stackholders" let-s="index">
        <tr>
          <td [attr.rowspan]="stackholder.touchpoints.length + 1">{{stackholder.stackholder}}</td>
        </tr>
        <ng-template ngFor let-tp [ngForOf]="stackholder.touchpoints" let-t="index">
          <tr>
            <td>{{tp.touchPoint}}</td>
            <td>
              <ul style="list-style:none;">
                <li style="float:left" *ngFor="let channel of tp.channels;let c = index;">{{channel.channel}},</li>
              </ul>
            </td>
            <td>{{tp.experience}}</td>
            <td>
              <ul style="list-style:none;">
                <li style="float:left" *ngFor="let dataSource of tp.dataSources;let c = index;">{{dataSource.dataSource}},</li>
              </ul>
            </td>
          </tr>
        </ng-template>
      </ng-template>
      <!-- <tr>
          <td>
            <button class="btn btn-link" data-toggle="modal" data-target="#myModal" (click)="selectedUnit = audit.departmentId">Assign</button>
          </td>
        </tr> -->
    </tbody>
  </table>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Fill Finding</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" >Finding : </label>
              <div class="col-sm-10">
                <textarea class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Category : </label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option>Sports</option>
                  <option>MIS Dept</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Root Cause : </label>
              <div class="col-sm-10">
                <textarea class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Improvements : </label>
              <div class="col-sm-10">
                <textarea class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Responsible Staff : </label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Deadline : </label>
              <div class="col-sm-10">
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Source Required : </label>
              <div class="col-sm-10">
                  <textarea class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" >Touchpoint : </label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option>Sports</option>
                  <option>MIS Dept</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                  <option>Xyz Xyz</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" >Submit</button>
        </div>
      </div>

    </div>
  </div>
</div>